@model IEnumerable<CafeMenu.Models.Product>
@{
    ViewBag.Title = "Product";
}


<a href="@Url.Action("Create", "Product")" class="btn btn-primary">Add New Product</a>

<div class="row">
    <div class="col-lg-12">
        <div class="card-style mb-30">
            <div class="table-responsive">
                <table class="table top-selling-table">
                    <thead>
                        <tr>
                            <th>
                                <h6 class="text-sm text-medium">Product Name</h6>
                            </th>
                            <th>
                                <h6 class="text-sm text-medium">
                                    Category <i class="lni lni-arrows-vertical"></i>
                                </h6>
                            </th>
                            <th>
                                <h6 class="text-sm text-medium">
                                    Price <i class="lni lni-arrows-vertical"></i>
                                </h6>
                            </th>
                            <th>
                                <h6 class="text-sm text-medium">
                                    Actions <i class="lni lni-arrows-vertical"></i>
                                </h6>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div>
                                        <p class="text-sm"> @Html.DisplayFor(modelItem => item.ProductName)</p>
                                    </div>
                                </td>
                                <td>
                                    <p class="text-sm"> @Html.DisplayFor(model => item.Category.CategoryName)</p>
                                </td>
                                <td>
                                    <p class="text-sm"> @Html.DisplayFor(model => item.Price)</p>
                                </td>
                                <td>
                                    <div class="action justify-content-end">
                                        <button class="more-btn ml-10 dropdown-toggle" id="moreAction1" data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                            <i class="lni lni-more-alt"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="moreAction1">
                                            <li class="dropdown-item">
                                                @using (Html.BeginForm("Delete", "Product", FormMethod.Post))
                                                {
                                                    @Html.Hidden("id", item.ProductID)
                                                    <button type="submit" class="text-gray">Remove</button>
                                                }
                                            </li>
                                            <li class="dropdown-item">
                                                <a href="@Url.Action("Edit", "Product", new { id = item.ProductID })" class="text-gray">Edit</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
