@model IEnumerable<CafeMenu.Models.User>
@{
    ViewBag.Title = "Users";
}


<p>
    @Html.ActionLink("Create New User", "Create")
</p>

<div class="row">
    <div class="col-lg-12">
        <div class="card-style mb-30">
            <div class="table-responsive">
                <table class="table top-selling-table">
                    <thead>
                        <tr>
                            <th>
                                <h6 class="text-sm text-medium">Name</h6>
                            </th>
                            <th class="min-width">
                                <h6 class="text-sm text-medium">
                                    Surname <i class="lni lni-arrows-vertical"></i>
                                </h6>
                            </th>
                            <th class="min-width">
                                <h6 class="text-sm text-medium">
                                    User Name <i class="lni lni-arrows-vertical"></i>
                                </h6>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div>
                                        <p class="text-sm"> @Html.DisplayFor(modelItem => item.Name)</p>
                                    </div>
                                </td>
                                <td>
                                    <p class="text-sm"> @Html.DisplayFor(model => item.Surname)</p>
                                </td>
                                <td>
                                    <p class="text-sm"> @Html.DisplayFor(model => item.Username)</p>
                                </td>
                                <td>
                                    <div class="action justify-content-end">
                                        <button class="more-btn ml-10 dropdown-toggle" id="moreAction1" data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                            <i class="lni lni-more-alt"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="moreAction1">
                                            <li class="dropdown-item">
                                                @using (Html.BeginForm("Delete", "User", FormMethod.Post))
                                                {
                                                    @Html.Hidden("id", item.UserID)
                                                    <button type="submit" class="text-gray">Remove</button>
                                                }
                                            </li>
                                            <li class="dropdown-item">
                                                <a href="@Url.Action("Edit", "User", new { id = item.UserID })" class="text-gray">Edit</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <!-- End Table -->
            </div>
        </div>
    </div>
    <!-- End Col -->
</div>

